<style>
    button{
        font-size:26px;
    }
</style>

<h1>GİT PROJESİ</h1>
<hr>
<button onclick="gonder()">SELAM</button>
<hr>
<h1>BU BİLGİSAYARDAN KAYIT EDİLDİ</h1>

<script>
 var yol = "/gitproje"   
  
</script>